.navbar {
    background-color: black;
    .nav {
        li {
            display: inline-block;
    
            .btn {
                right: 0;
                float: right;
            }
        }
    }
    
    .logo{
        width: 60px;
        height: 50px;
    }
}



