.alert-box{
    margin: auto;
    margin-top:22vh;
    border: red  1px;
    border-style: solid;
    background-color:#ff726f;
    border-radius: 3%;
    width: 40%;
    background-position-x: center;
    text-align: center;
}

.tick{
    width: 53px;
    height: 50px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}


